*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#020b2b;
color:white;
overflow-x:hidden;
}

/* SECTION */
.section{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

/* MOON */
.moon{
position:fixed;
top:60px;
right:80px;
width:150px;
height:150px;
background:white;
border-radius:50%;
box-shadow:0 0 80px white;
z-index:-1;
}

/* STARS */
.stars{
position:fixed;
width:100%;
height:100%;
background:url("https://www.transparenttextures.com/patterns/stardust.png");
animation:moveStars 60s linear infinite;
z-index:-2;
}

@keyframes moveStars{
from{background-position:0 0;}
to{background-position:1000px 1000px;}
}

/* HERO */
.hero h1{
font-size:3em;
margin-bottom:10px;
}

.hero h2{
opacity:.8;
}

/* SCROLL TEXT */
.scroll-indicator{
margin-top:40px;
animation:float 2s infinite;
opacity:.7;
}

@keyframes float{
0%,100%{transform:translateY(0);}
50%{transform:translateY(10px);}
}

/* CARD */
.card{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
padding:40px;
border-radius:20px;
max-width:600px;
line-height:1.7;
}

/* MEDIA */
.media{
display:flex;
gap:15px;
flex-wrap:wrap;
justify-content:center;
margin:20px;
}

.media img{
width:250px;
border-radius:15px;
transition:.4s;
}

.media img:hover{
transform:scale(1.05);
}

video{
margin-top:20px;
width:400px;
border-radius:15px;
}

/* ENDING */
.ending h1{
font-size:4em;
font-weight:bold;
}

.ending p{
opacity:.8;
margin-top:15px;
}

/* ORNAMENT STAR */
.star{
width:20px;
height:20px;
background:gold;
clip-path:polygon(
50% 0%,61% 35%,98% 35%,
68% 57%,79% 91%,
50% 70%,21% 91%,
32% 57%,2% 35%,
39% 35%
);
position:absolute;
top:-50px;
animation:drop 8s linear infinite;
}

.star:nth-child(2){left:40%;}
.star:nth-child(3){left:70%;}

@keyframes drop{
0%{transform:translateY(-50px);}
100%{transform:translateY(120vh);}
}

/* LOVE FLOAT */
.love{
position:fixed;
color:white;
font-size:20px;
animation:loveUp 6s linear forwards;
}

@keyframes loveUp{
from{
transform:translateY(100vh);
opacity:1;
}
to{
transform:translateY(-10vh);
opacity:0;
}
}